<nav id="mainNav">
   <ul>
      <li class='nav-link' data-ctrl="Home" data-ctrl-method="index"> Home </li>
      <li class='nav-link' data-ctrl="Client" data-ctrl-method="index" > Client Manager </li>
      <!-- <li class='nav-link' data-ctrl="Opinion" data-ctrl-method="index"> Avis Manager </li> -->
      <li class='nav-link' data-ctrl="Category" data-ctrl-method="index" > Catégorie Manager </li>
      <li class='nav-link' data-ctrl="Clothes" data-ctrl-method="index"> Vêtements Manager </li>
   </ul>
</nav>