<div class="w3-container w3-teal">
  <h1>Ajouter une catégorie</h1>
</div>

<div class="w3-container">
  <form id="categoryAdd">
    <table  class="display" style="width:100%">

      <tbody>
        <!-- Liste des vêtement -->
      </tbody>
      <tfoot>
        <tr>
          <td> <label for="">Nom</label></td>
          <td> <input type="text" name='nom' placeholder="Nom"> </td>
        </tr>

        <tr>
          <td><button type="button" id="send_form"> Ajouter </button></td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>


<script>


</script>