
    <div class="w3-container w3-teal">
        <h1>Gestions des commentaires</h1>
     </div>
     
     <div class="w3-container">
       <table id="tableComment" class="table-striped table-bordered" style="width:100%">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>commentaire</th>
                 <th>Action</th>
             </tr>
         </thead>
         <tbody>
            <!-- Liste des commentaires -->
         </tbody>
         <tfoot>
             <tr>
               <td>Id</td>
               <td>commentaire</td>
               <td>Action</td>
             </tr>
         </tfoot>
     </table>
   
     </div>
     
  
     <script>    
  
  
     </script>