<style>


    .valid{
        font-weight: bold;
        color: rgb(26, 90, 26);
    }

    .no-valid{
        font-weight: bold;
        color: rgb(146, 10, 10);
    }



</style>
   
   
   <div class="w3-container w3-teal">
      <h1>Gestions des avis</h1>
   </div>
   
   <div class="w3-container">
     <table id="tableAvis" class="table table-striped table-bordered" style="width:100%">
       <thead>
           <tr>
               <th>Id</th>
               <th>Id client</th>
               <th>Commentaire</th>
               <th>Note</th>
               <th>Status</th>
               <th>Action</th>
           </tr>
       </thead>
       <tbody>
          <!-- Liste des catégories -->
       </tbody>
       <tfoot>
           <tr>
            <th>Id</th>
            <th>Id client</th>
            <th>Commentaire</th>
            <th>Note</th>
            <th>Status</th>
            <th>Action</th>
           </tr>
       </tfoot>
   </table>
 
   </div>
   

   <script>    


   </script>