<div class="w3-container w3-teal">
    <h1>Ajouter un client</h1>
  </div>
  
  <div class="w3-container">
    <form id="clientAdd">
      <table  class="display" style="width:100%">
  
        <tbody>
          <!-- Liste des vêtement -->
        </tbody>
        <tfoot>

            <tr>
               <td> <label for="">Adresse email</label></td>
               <td> <input type="email" name='email' placeholder="Email"> </td>
            </tr>

          <tr>
            <td> <label for="">Nom</label></td>
            <td> <input type="text" name='nom' placeholder="Nom"> </td>
          </tr>

          <tr>
            <td> <label for="">Prenom</label></td>
            <td> <input type="text" name='prenom' placeholder="Prenom"> </td>
          </tr>
  
          <tr>
            <td><button type="button" id="send_form"> Ajouter </button></td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
  
  
  <script>
  
  
  </script>