
    <div class="w3-container w3-teal">
        <h1>Gestions des clients</h1>
     </div>
     
     <div class="w3-container">
       <table id="tableClient" class="table-striped table-bordered" style="width:100%">
         <thead>
             
                 <th>id</th>
                 <th>email</th>
                 <th>nom</th>
                 <th>prenom</th>
                 <th>action</th>
            
         </thead>
         <tbody>
            <!-- Liste des catégories -->
         </tbody>
         <tfoot>
             <tr>
                 <td>id</td>
                <td>email</td>
                <td>nom</td>
                <td>prenom</td>
                <td>action</td>
             </tr>
         </tfoot>
     </table>
   
     </div>
     
  
     <script>    
  
  
     </script>