<div class="w3-container w3-teal">
  <h1>Ajouter un vêtement</h1>
</div>

<div class="w3-container">
  <form id="clotheEdit">
    <table  class="display" style="width:100%">

      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <td> <label for="">Nom</label></td>
          <td> <input type="text" name='nom' placeholder="Nom"> </td>
        </tr>
        <tr>
          <td> <label for="">Prix</label></td>
          <td> <input type="text" name='prix' placeholder="Prix"> </td>
        </tr>
        <tr>
          <td> <label for="">Genre</label></td>
          <td> <select name="codeGenre" id="genreList"></select>  </td>
        </tr>
        <tr>
          <td> <label for="">Catégorie</label></td>
          <td> <select name="idCateg" id="categList"></select> </td>
        </tr>
        <tr>
          <td> <label for="">Description</label></td>
          <td>  <textarea name="description" id="Description" cols="30" rows="10" placeholder="Ecrivez ici..."></textarea></td>
        </tr>
        <tr>
          <td> <label for="">Couleur</label></td>
          <td> <input type="text" name='couleur' placeholder="Couleur"> </td>
        </tr>

        <tr>
          <td><button type="button" id="send_form"> Ajouter </button></td>
          
        </tr>
      </tfoot>
    </table>
  </form>
</div>


<script>


</script>

