
    <div class="w3-container w3-teal">
      <h1>Gestions des Vêtements</h1>
   </div>
   
   <div class="w3-container">
     <table id="tableClothes" class="display" style="width:100%">
       <thead>
           <tr>
               <th>Id</th>
               <th>Nom</th>
               <th>Action</th>
           </tr>
       </thead>
       <tbody>
          <!-- Liste des vêtements -->
       </tbody>
       <tfoot>
           <tr>
             <th>Id</th>
             <th>Nom</th>
             <th>Action</th>
           </tr>
       </tfoot>
   </table>
 
   </div>
   

   <script>    


   </script>